/* ============================================================
  
                      CONTACT SECTION STYLES
  
  ============================================================ */

.contact-wrapper {
  background-color: transparent;
  padding: 20px;
  margin-bottom: 40px;
  min-height: 200px;
  border: none;
  cursor: default;
  transition: all 0.25s ease-in-out;
  text-align: center;
}
.contact-wrapper h3 {
  color: rgb(57, 171, 111);
}
.contact-wrapper h4 {
  vertical-align: middle;
  margin-top: -5px;
  font-size: 1.25em;
}
.contact-wrapper ion-icon {
  color: rgb(57, 171, 111);
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
}
.social-below {
  display: block;
  margin-top: 5px;
}
.social-below a ion-icon {
  font-size: 2.5em;
  margin: 0 5px;
  transition: 0.25s;
}
.social-below a ion-icon svg {
  transition: 0.25s;
}
.social-below a ion-icon:hover {
  color: #37e25b;
  text-shadow: 0 0 15px #37e25b;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.form-group {
  padding: 10px;
  box-sizing: border-box;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px 15px;
  border: 1px solid rgb(57, 171, 111);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0;
}
.form-group {
  color: #292929;
}
.form-group label {
  color: rgb(57, 171, 111);
}
.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 15px #37e25b;
  border: 1px solid #37e25b;
  background-color: #fff;
}
.contact-submit {
  text-align: center;
}
.contact-submit .form-group label {
  text-align: left !important;
}
.footer-div {
  padding-top: 25px;
  font-size: 12px;
  color: rgb(57, 171, 111);
  text-align: center;
}
.footer-div a,
.footer-div a:hover {
  font-size: 10px;
  color: #fff;
  text-decoration: none;
}
#footer {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
