/* ============================================================

    GENERAL STYLES

    ============================================================ */

html {
  height: 100%;
}
body {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
  background: #000 url("assets/img/bg2.jpg") no-repeat fixed bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
section {
  padding-top: 80px;
  padding-bottom: 80px;
}
footer {
  padding-top: 10px;
  padding-bottom: 40px;
}
.header {
  font-family: "Oswald", sans-serif;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.header hr {
  width: 50px;
  border-top: 2px solid #37e25b;
  box-shadow: 0 0 15px #37e25b;
}
.darken {
  background-color: rgba(0, 0, 0, 0.5);
}
.blacken {
  background-color: rgba(0, 0, 0, 0.85) !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  text-rendering: optimizeLegibility;
}

/* ============================================================

    CUSTOM BUTTON STYLES

    ============================================================ */

.button-custom {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  transition: all 0.25s ease-in-out;
  margin: 25px 5px 5px 0px;
  margin: 5px;
  font-family: "Oswald", sans-serif;
}
.btn-custom-one {
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(57, 171, 111);
}
.btn-custom-one:hover {
  color: #fff;
  background-color: rgb(57, 171, 111);
  text-decoration: none;
}
.btn-custom-two {
  color: #fff;
  background-color: rgb(57, 171, 111);
  border: 2px solid rgb(57, 171, 111);
}
.btn-custom-two:hover {
  border: 2px solid #37e25b;
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0 0 15px #37e25b;
  color: #fff;
}
