/* ============================================================

    NAV SECTION STYLES

    ============================================================ */

.bg-dark {
  background-color: transparent !important;
  height: 40px;
}
.bg-dark {
  max-height: 50px;
  min-height: 40px;
  padding: 10px 5px 0 10px;
  overflow: visible;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}
.bg-dark .navbar-collapse .navbar-nav {
  height: 40px;
  line-height: 40px;
  background-color: rgba(0,0,0,0.3);
}
.bg-dark .navbar-collapse .navbar-nav .nav-item {
  height: 100%;
  min-width: 100px;
  text-align: center;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background-color: translucent;
  transition: all 0.25s;
  text-transform: uppercase;
  background-color: transparent;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.85);
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.bg-dark .navbar-collapse .navbar-nav .active,
.bg-dark .navbar-collapse .navbar-nav .active:hover,
.bg-dark .navbar-collapse .navbar-nav .active:focus {
  background-color: transparent;
  border-bottom: 2px solid #37e25b;
  box-shadow: 0px 6px 10px -5px #37e25b;
  background: #222222;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204f36', endColorstr='#222222',GradientType=0 );
}
.bg-dark .navbar-brand,
.bg-dark .navbar-brand:hover {
  color: #fff;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  line-height: 40px;
  padding: 0 !important;
}
.bg-dark .navbar-brand {
  position: relative;
  top: 15px;
  left: 15px;
}
.navbar-brand img {
  height: 50px;
  max-height: 50px;
  webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.85));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.85));
  transition: all 0.25;
}
.navbar-brand img:hover {
  webkit-filter: drop-shadow(0px 2px 2px #37e25b);
  filter: drop-shadow(0px 2px 2px #37e25b);
}
.bg-dark .navbar-toggler {
  outline: none;
  border: none;
  padding: 5px 5px;
  margin: 0 15px 0 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204f36', endColorstr='#222222');
  transition: 0.3 ease-in-out;
}
.bg-dark .navbar-toggler:hover {
  background: none;
  background-color: #37e25b;
  box-shadow: 0 0 15px #37e25b;
}
.bg-dark .navbar-collapse .navbar-nav .nav-item:hover {
  text-shadow: 0 0 5px #37e25b;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #37e25b;
  background: #222222;
  box-shadow: 0px 10px 15px -5px #37e25b;
  transition: 0.3s ease-in-out;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204f36', endColorstr='#222222',GradientType=0 );
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("../../assets/img/toggler-icon.svg");
}

@media (max-width: 992px) {
  .bg-dark {
    background-color: transparent !important;
  }
  .bg-dark .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50%; /*example + never use min-width with this solution */
    height: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
  }
  .bg-dark .navbar-collapse.show {
    transform: translateX(0);
  }
  .bg-dark .navbar-collapse .navbar-nav {
    background-color: rgba(0, 0, 0, 0.75) !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    border-bottom: 2px solid transparent;
    padding-top: 60px;
  }
  .bg-dark .navbar-collapse .navbar-nav .nav-item {
    height: auto;
    line-height: 50px;
    margin: 0px;
    padding: 0 20px;
  }
  .bg-dark .navbar-collapse .navbar-nav a.active {
    color: #37e25b;
  }
  .bg-dark .navbar-brand,
  .navbar-toggler {
    position: relative;
    top: 5px;
    z-index: 1100;
  }
}
